repos:
  - repo: https://github.com/sqlfluff/sqlfluff
    rev: 3.3.0
    hooks:
      - id: sqlfluff-lint
        args: [--dialect, snowflake]
        additional_dependencies: ['dbt-snowflake', 'sqlfluff-templater-dbt']
      - id: sqlfluff-fix
        args: [--dialect, snowflake]
        additional_dependencies: ['dbt-snowflake', 'sqlfluff-templater-dbt']

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.11
    hooks:
      - id: ruff
        args: [ --fix ]
      - id: ruff-format

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
